<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 对应mapper接口的全类名 -->
<mapper namespace="com.zmy.mapper.UserMapper">
<!--    SQL语句 -->
<!--   id : 对应接口中方法的名字-->
    <insert id="insertUser">
        insert into user values(null,'sam','123456')
    </insert>
    <!--   id : 对应接口中方法的名字-->
<!--
     查询功能的标签必须设置resultType或resultMap
     resultType：设置默认的映射关系
     resultMap ：设置自定义的映射关系
-->
    <select id="getCount" resultType="int">
        select count(*) as count from user
    </select>
    <select id="getUser" resultType="User">
        select *  from user where uid=2
    </select>
    <select id="getUserList" resultType="User">
        select *  from user
    </select>

</mapper>